{{#each this}}
<li>
    {{!-- <img src={{poster_path}} alt=''> --}}
    <img src="{{poster_path}}" alt="">
    <div class="film-sign">
        <h3 class="film-title">{{ original_title}}</h3>

        {{#each genres}}
        <p class="film-text">{{name}}</p>
        {{/each}}

        <p>{{release_date}} | {{vote_average}}</p>
    </div>
</li>
{{/each}}