{{#each this}}
<li class="film-element">
    {{!-- <img src={{poster_path}} alt=''> --}}
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{ title }}" data-action={{id}} class="poster-img">
    <div class="film-sign">
        <h3 class="film-title">{{original_title}}</h3>


        {{!-- вывести жанры--{{vote_average}} отображается только в My Library! --}}
        <p>
            {{#each genre_ids}}
            <span class="film-text genre"> {{name}}
                {{/each}}
            </span>
            <span class="film-text">| {{release_date}}</span>
            <span class="vote-average">{{vote_average}}</span>
        </p>
    </div>
</li>
{{/each}}