{{#each this}}
<li class="film-element">
    {{!-- <img src={{poster_path}} alt=''> --}}
    <img src="https://image.tmdb.org/t/p/w780{{poster_path}}" alt={{title}} data-action="">
    <div class="film-sign">
        <h3 class="film-title">{{ original_title}}</h3>

        <p class="film-text"></p>

        <p>{{release_date}} | {{vote_average}}</p>
    </div>
</li>
{{/each}}