{{!-- <div class="modal-container"> --}}
    {{!-- <div class="modal-logo-text"> --}}
        {{!-- <img class="logo" src="../images/film.jpg" alt="filmoteka" width="24" height="24" /> --}}
        {{!-- <div>| | </div> --}}
        {{!-- <h1 class="modal-logo-name">| | Filmoteka</h1> --}}
        {{!-- <ul class="modal-logo-nav"> --}}
            {{!-- <li class="nav-item "> --}}
                {{!-- <a href="" class="modal-link active-el home-link">Home</a> --}}
                {{!-- </li> --}}

            {{!-- <li class="nav-item"> --}}
                {{!-- <a href="" class="modal-link library">My library</a> --}}
                {{!-- </li> --}}
            {{!-- </ul> --}}
        {{!-- </div> --}}
    {{!-- </div> --}}

<div class="modal-one-film-info">
    <div class="modal-img">
        <img src="https://image.tmdb.org/t/p/w780{{poster_path}}" alt={{title}} class="modal-poster">
    </div>
    <div class="modal-text">
        <h3 class="modal-name-movie">{{original_title}}</h3>
        <div class="modal-title">
            <ul class="modal-title-info">
                <li>Vote / Votes</li>
                <li>Popularity</li>
                <li>Original Title</li>
                <li>Genre</li>
            </ul>
            <ul class="modal-info">
                <li><span class="number">{{vote_average}}</span> /{{vote_count}}</li>
                <li>{{popularity }}</li>
                <li>{{ original_title}}</li>
                <li>
                    {{#each genres}}
                    <span class="modal-genres"> {{name}}
                        {{/each}}
                    </span>
                </li>
            </ul>
        </div>
        <div class="modal-about">About</div>
        <p class="modal-film-about">
            {{overview}}
        </p>

        <div class="modal-button-block">
            <button type=" button " class="modal-button add-to-watched " data-idFilm="{{id}}">Add to
                watched</button>
            <button type=" button " class="modal-button add-to-queue " data-idFilm="{{id}}">Add to
                queue</button>
        </div>
    </div>
</div>

{{!-- modal-active-btn --}}