<li class="">
    {{!-- <img src={{poster_path}} alt=''> --}}
    <img src="https://image.tmdb.org/t/p/w780{{poster_path}}" alt={{title}} width="400">
    <div class="film-sign">
        <h3 class="">{{ original_title}}</h3>

        <p class=""></p>

        <p>{{release_date}} |<span class="">{{vote_average}}</span></p>

        <button type=" button " class="add-to-watched" data-idFilm="{{id}}">Add to watched</button>
        <button type=" button " class="add-to-queue" data-idFilm="{{id}}">Add to queue</button>
    </div>
</li>

{{!-- <div class="flex-conteiner">
    <div class="logo-text">
        <img class="logo" src="../images/film.svg" alt="filmoteka" width="24" height="24" />

        <h1 class="title">Filmoteka</h1>
    </div>
    <ul class="site-nav-list">

        <li class="item ">
            <a href="" class="nav-link active-el home-link">HOME</a>

        </li>
        <li class="item">
            <a href="" class="nav-link library">MY LIBRARY</a>
        </li>
    </ul>
</div> --}}