{{#each this}}
<li class="card_film">
    <article class="name_film">
        <img src="{{image}}" alt="{{name}}" class="filme_image" />
        <p class="film">{{name}}</p>
        <div class="repozitori">
            <h1 class="Votes">{{Votes}}</h1>
            <h2 class="Popularity">{{Popularity}}</h2>
            <h3 class="Original Title">{{Original Title}}</h3>
            <h4 class="Genre">{{Genre}}</h4>
        </div>
        <div class="about_film">
            <p class="about">{{name}}</p>
            <p class="about_descrip">{{description}}</p>
        </div>
        <button class="button Watched" data-idFilm="{{id}}"> add to Watched </button>
        <button class="button to queue" data-idFilm="{{id}}"> add to queue </button>
    </article>
</li>
{{/each}}